@import '_mixins.scss';

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700,800&display=swap");

html, body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0px;
  height: 100%;
}