$red-light-3:  #EF9A9A;
$blue-light-3: #90CAF9;
$indigo-light-3: #9FA8DA;
$purple-light-3: #CE93D8;
$pink-light-3:#F48FB1;
$cyan-light-3: #80DEEA;
$teal-light-3: #80CBC4;
$green-light-3: #A5D6A7;
$orange-light-3: #FFCC80;
$bluegrey-light-3: #7ab65f;

:export {
  redLight3: $red-light-3;
  blueLight3: $blue-light-3;
  indigoLight3: $indigo-light-3;
  purpleLight3: $purple-light-3;
  pinkLight3: $pink-light-3;
  cyanLight3: $cyan-light-3;
  tealLight3: $teal-light-3;
  greenLight3: $green-light-3;
  orangeLight3: $orange-light-3;
  bluegreyLight3: $bluegrey-light-3;
}