/* Variables */

$navbar-height: 50px;
$page-padding: 20px;
$button-height: 40px;

// Base color
$brand-color:#fdbf57;
$brand-color-dark:#d49f48;

// Sidebar
$sideBarWidth: 210px;
$subMenuBg:#1a509c;
$subMenuHover:#001528;
$subMenuActiveText:#fdbf57;
$menuBg: linear-gradient(90deg,#0d274c,#143b76);
$menuText: #fff;
$menuActiveText:#fdbf57; // Also see settings.sidebarTextTheme

// Login page
$lightGray: #eee;
$darkGray:#889aa4;
$loginBg: #0948B3;
$loginCursorColor: #fff;

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  brandColor: $brand-color;
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}